html,
body {
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
    color: var(--black);
}

a {
    text-decoration: none;

    color: inherit;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #3b434e;
    --primary: #7653fc;
    --gray: #b3c0d9;
    --light-gray: #ebebeb;
    --green: #1dc37e;
    --light-green: #c8f8e4;
    --orange: #fc836d;
    --white: #fff;
    --font-family: 'Noto Sans', sans-serif;
}
